<footer class="mt-auto">
        <div class="row justify-content-center mt-5">
            <div class="h5 text-primary p-3 mt-1">
                Brought to you by Rubén, follow us in <a target="_blank" href="https://github.com/manotasCoder">ManotasCoder</a>
            </div>
        </div>
</footer>