<!DOCTYPE html>
<html lang="en">


 <!-- head -->
    {{> head}}


<body class="bg-dark d-flex flex-column min-vh-100">
    {{> navbar}}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="h1 text-white mt-5">
                People's feed
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mt-5justify-content-center  border border-primary">
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the title
            </div>
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the author
            </div>
            <div class="h4 text-white p-3 mt-1 col-12">
                Here goes the commentaries
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mt-5justify-content-center  border border-primary">
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the title
            </div>
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the author
            </div>
            <div class="h4 text-white p-3 mt-1 col-12">
                Here goes the commentaries
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mt-5justify-content-center  border border-primary">
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the title
            </div>
            <div class="h5 text-white p-3 mt-1 col-6">
                Here goes the author
            </div>
            <div class="h4 text-white p-3 mt-1 col-12">
                Here goes the commentaries
            </div>
        </div>
    </div>

    {{> footer}}

</body>
</html>