<!DOCTYPE html>
<html lang="en">


 <!-- head -->
    {{> head}}


<body class="bg-dark d-flex flex-column min-vh-100">
    {{> navbar}}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="h1 text-white mt-5">
                Be ready to break The Wall!
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row mt-5 justify-content-center  border border-primary">
            
            <form class="col-12" action="" method="post">

                <div class="h4 text-white p-3 mt-1 col-12 form-group">
                    <label class="col-12" for="uNick">Nick</label>
                    <input class="col-12 form-control" name="uNick" alt="nick"  type="text" />
                </div>

                <div class="h4 text-white p-3 mt-1 col-12 form-group">
                    <label class="col-12" for="uPass">Password</label>
                    <input class="col-12 form-control" name="uPass" alt="pass"  type="password" />
                </div>
                <button type="submit" class="btn btn-primary pb-1 mb-3 offset-10">Go for it!</button>
            </form>

        </div>
    </div>


    {{> footer}}

</body>
</html>